# MANIFEST.in
exclude .gitignore
include LICENSE
include README.rst
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
include requirements.txt

global-exclude test_autoconf
recursive-exclude test_autoconf *