# MANIFEST.in
exclude .gitignore
include LICENSE
include README.md
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
include requirements.txt

global-exclude test_autonerves
recursive-exclude test_autonerves *